Repository ava-labs/coreth: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck

actionlint:
  name: actionlint
  entry: scripts/actionlint.sh
  language: system
  stages:
  - pre-commit
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: scripts/shellcheck.sh
  language: system
  stages:
  - pre-commit
  pass_filenames: false

bubble up error
  network/network.go
  network/peer_tracker.go
  network/peer_tracker_test.go
Due: none

reduce diff
  network/peer_tracker.go
  plugin/evm/message/block_request_test.go
  plugin/evm/message/code_request_test.go
  plugin/evm/message/leafs_request_test.go
Due: none

reduce diff actually
  plugin/evm/message/code_request_test.go
  plugin/evm/message/leafs_request_test.go
Due: none

reduce diffff
  sync/handlers/leafs_request_test.go
Due: none

test: Skip flaky ChainIndexer test
  core/chain_indexer_test.go
Due: none

test: Skip rpc tests that timeout
  rpc/websocket_test.go
Due: none

return error even if okay
  network/network.go
Due: none

fix enqueuing/dequeuing
  plugin/evm/vmsync/state_machine.go
  plugin/evm/wrapped_block.go
Due: none

Update core/txindexer.go
  core/txindexer.go
Due: none

feat(plugin/evm): enable firewood archival support
  plugin/evm/vm.go
Due: none

ci: remove retry for tests
  scripts/build_test.sh
  scripts/known_flakes.txt
Due: shellcheck

style: newline at end
  scripts/build_test.sh
Due: shellcheck

style: add comments
  rpc/websocket_test.go
Due: none

style: add comment
  core/chain_indexer_test.go
Due: none

chore: lint
  plugin/evm/vm.go
Due: none

fix: move OnEngineAccept
  plugin/evm/vmsync/client.go
  plugin/evm/vmsync/coordinator.go
  plugin/evm/wrapped_block.go
Due: none

update avago
  go.mod
  go.sum
Due: none

fix: typo
  rpc/websocket_test.go
Due: none

bump go-kzg
  go.mod
  go.sum
Due: none

refactor: use upstream bloombits package
  core/bloom_indexer.go
  core/bloombits/doc.go
  core/bloombits/generator.go
  core/bloombits/generator_test.go
  core/bloombits/matcher.go
  core/bloombits/matcher_test.go
  core/bloombits/scheduler.go
  core/bloombits/scheduler_test.go
  eth/api_backend.go
  eth/backend.go
  eth/filters/bench_test.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  eth/filters/filter_system_test.go
  internal/ethapi/api_test.go
  internal/ethapi/backend.go
  internal/ethapi/mocks_test.go
Due: none

test: run sync tests in parallel
  sync/blocksync/syncer_test.go
  sync/client/client_test.go
  sync/handlers/block_request_test.go
  sync/statesync/code_queue_test.go
  sync/statesync/code_syncer_test.go
  sync/statesync/sync_test.go
Due: none

ci: Add lint-fix to taskfile
  Taskfile.yml
  scripts/lint.sh
  scripts/lint_fix.sh
  scripts/lint_setup.sh
Due: shellcheck

fix: lint
  scripts/lint_fix.sh
  scripts/lint_setup.sh
Due: shellcheck

Apply suggestion from @JonathanOppenheimer
  scripts/lint_setup.sh
Due: shellcheck

Apply suggestion from @JonathanOppenheimer
  scripts/lint_fix.sh
Due: shellcheck

Apply suggestion from @StephenButtolph
  rpc/websocket_test.go
Due: none

chore: init
  core/blockchain.go
  core/genesis.go
  go.mod
  triedb/firewood/database.go
Due: none

chore: use correct dir for rootstore
  core/blockchain.go
Due: none

fix: comments
  scripts/lint.sh
  scripts/lint_fix.sh
  scripts/lint_setup.sh
Due: shellcheck

fix: quick escape, properly remove directory
  scripts/lint_setup.sh
Due: shellcheck

chore: handle nil vs []byte{} logic
  triedb/firewood/account_trie.go
Due: none

style: nit
  scripts/lint.sh
Due: shellcheck

fix: change customrawdb calls in test_syncervm
  plugin/evm/vmtest/test_syncervm.go
Due: none

Add link check job
  .github/workflows/ci.yml
Due: actionlint

chore: get code to compile
  go.mod
  triedb/firewood/account_trie.go
  triedb/firewood/database.go
Due: none

feat(vmsync): remove stale blocks from queue after sync target updates
  plugin/evm/vmsync/block_queue.go
  plugin/evm/vmsync/client.go
  plugin/evm/vmsync/coordinator.go
  plugin/evm/wrapped_block.go
Due: none

build: Firewood upgrade v0.0.14
  triedb/firewood/account_trie.go
  triedb/firewood/database.go
Due: none

Fix markdown linting errors
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  README.md
  RELEASES.md
  SECURITY.md
  Taskfile.yml
  cmd/simulator/README.md
  consensus/dummy/README.md
  core/README.md
  docs/releasing/README.md
  plugin/evm/README.md
  plugin/evm/api.md
  plugin/evm/config/config.md
  precompile/contracts/warp/README.md
  scripts/markdownlint.sh
  sync/README.md
Due: shellcheck

remove shell script
  scripts/markdownlint.sh
Due: shellcheck

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  shellcheck: any of: \.sh$
